<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('admin.nav.header') %></span>

  <div class="nav-admin user">
    <%= t('welcome') %> <b class="nav-admin user-name"><%= current_user.first_name %></b> |
    <%= link_to t('buttons.logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>
