<footer class="footer" align="center">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div>TestGuru © <span><%= footer_year %></span></div>
        <div>A handy tool for creating, managing and passing tests</div>
        <div>Educational project in the online school
          <span><a href="http://thinknetica.com/" target="_blank">Thinknetica</a></span>
        </div>
        <%= github_url('Kreyss', "https://github.com/kreyss/test-guru") %>
      </div>
    </div>
  </div>
</footer>
