<div class="container">
  <div class="row justify-content-center">
    <div class="">
      <b>
        <%= @question.body %>
      </b>

      <ul>
        <% @question.answers.each do |answer| %>
          <li><%= answer.body %></li>
        <% end %>
      </ul>

      <%= link_to 'Back', admin_gists_path %>
    </div>
  </div>
</div>
