@import "bootstrap";
@import "typography/icons";
@import "global";

#progress-bar {
  width: 100%;
  background-color: lightgrey;
}

#progress-bar-line {
  width: 1%;
  height: 30px;
  background-color: green;
  text-align: center;
  color: #ffffff;
}
