<%= form_with model: [:admin, test],
              url: update_inline_admin_test_path(test),
              method: :patch,
              local: true,
              data: { test_id: test.id },
              html: { style: 'display: none' },
              class: 'form-inline' do |form| %>
  <div class="form-group">
    <%= form.text_field :title, class: 'form-control mr-2' %>
    <%= form.submit t('.submit'), class: "btn btn-primary mt-2" %>
  </div>
<% end %>
