<tr>
  <td>
    <b><%= link_to "#{test.title} test", test_path(test) %></b>
  </td>
  <td>
    <%= test.level %>
  </td>
  <td>
    <%= pluralize(test.questions.count, 'question') %>
  </td>
  <td>
    <%= button_to 'start', start_test_path(test) %>
  </td>
</tr>
